body {
  text-align: center;
}

.logo {
  padding-top: 50px;
}

@media screen
and (max-width : 480px) {
  .hero {
    width: 320px;
    background-image: url(/background-image.jpg);
  }
  body .callout {
    width: auto;
  }

  body input[type="submit"] {
    margin-left: auto;
  }

  body .title-text {
    font-size: 22px;
  }

  body .controls input {
    width: 285px;
  }

  body .controls label {
    width: auto;
    text-align: right;
    padding-top: 7px;
    padding-right: 20px;
  }
}

@media screen
and (min-width : 480px)
and (max-width : 768px) {
  .hero {
    width: 460px;
    background-image: url(/background-image.jpg);
  }
}

@media screen
and (min-width : 768px)
and (max-width : 896px) {
  .hero {
    width: 700px;
    background-image: url(/background-image.jpg);
  }
}

@media screen
and (min-width : 896px)
and (max-width : 1024px) {
  .hero {
    width: 900px;
    background-image: url(/background-image.jpg);
  }
}

@media screen
and (min-width : 1024px)
and (max-width : 1280px) {
  .hero {
    width: 1020px;
    background: url(/background-image2x.jpg) center center fixed;
    background-size: cover;
  }
}

@media screen
and (min-width : 1280px) {
  .hero {
    width: 1250px;
    background: url(/background-image2x.jpg);
    background-size: contain;
  }
}

.hero {
  background-repeat: no-repeat;
  text-align: center;
  height: 450px;
  margin: 0px auto;
}

.title-text {
  color: white;
  font-size: 25px;
  margin: 20px;
}

.callout {
  background-color: #f1f0e4;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.callout .text {
  margin: 15px;
  font-size: 15px;
}

.controls {
  margin: 30px 10px
}

.controls label {
  float: left;
  width: 150px;
  text-align: right;
  padding-top: 7px;
  padding-right: 20px;
}

.controls input {
  float: left;
  width: 225px;
  height: 26px;
  border: 1px solid white;
  padding: 5px;
}

.controls input.error {
  border: 1px solid red;
}

.hide {
  display: none;
}
.error-message {
  font-weight: bolder;
}

.orange {
  color: #e89779;
}

input[type="submit"] {
  background-color: #1671bc;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 22px;
  border: none;
  margin-bottom: 10px;
  margin-left: 145px;
  width: 240px;
}

.footer-image {
  margin: 20px;
}

.spinner {
  width: 20px;
  margin: 10px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
